In [1]:
import numpy as np
import pandas as pd

In [2]:
dict = {
    "En.no" : [3, 13, 23, 33],
    "Name" : ['Karan', 'Jinal', 'Ravi', 'Rahul'],
    "Cpi" : [2, 5, 8.39, 9.20]
}

df = pd.DataFrame(dict)
df

   En.no   Name   Cpi
0      3  Karan  2.00
1     13  Jinal  5.00
2     23   Ravi  8.39
3     33  Rahul  9.20

In [8]:
df.to_csv('collage.csv')

In [ ]:
df.to_csv('collage_noindex.csv',index = False)